.parallax-container {
    position: relative;
    width: 100vw;
    height: 100vh;
   
  }
  
  .image-container {
    position: absolute;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
  }
  
  .main-image {
    animation: moveTopRight 10s linear infinite;
    animation-delay: 0s;
  }
  
  .second-image {
    animation: moveBottomLeft 10s linear infinite;
    /* animation-delay: 5s; Delay the start to create a continuous effect */
  }
  .third-image
  {
    animation: moveTopRight 10s linear infinite;
    animation-delay: 0s;
  }
  @keyframes moveTopRight {
    0% {
       
      transform: translate(0%, 100%);
    }
    100% {
      transform: translate(100%, 0%);
    }
  }
  
  @keyframes moveBottomLeft {
    0% {
      transform: translate(100%, 0%);
    }
    100% {
      transform: translate(0%, 100%);
    }
  }
  
  .parallax-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  